{% extends 'base.html' %}

{% block title %}主页{% endblock %}
{% block content %}<!-- content  -->

	<div class="jumbotron" style='background-color:#428bca'>
		<div class="container">
			<h1 align="center" style='color:#f0f0f0'>小bug的成长日记</h1>
			<h2 align="right" style='color:#eeeeee'>--距离小bug出生还有59天</h2>
		</div>
	</div>


	<div class="page-header">
		<h1>心情</h1>
	</div>
	<p>第一次要当爹，心情很复杂</p>
	<div class="container">
		<img title='123' src="/statics/1.jpg" width=1024>
	</div>
{% endblock %}


{% block beforehead %}

{% endblock %}